<% if current_user.blank? %>
  <h1>Please Sign In</h1>
  <%= link_to 'Sign In with Github', '/auth/github' %>
<% else %>
  <p>
    You are signed in as <%= current_user.username %>.  Click the button below to sign out.
  </p>

  <%= button_to "Sign Out", signout_path, method: :delete %>
<% end %>

<p>You can see my GitHub Repos <%= link_to 'here.', '/repos' %> </p>
<p>You can see my D3 example <%= link_to 'here.', '/votes' %> </p>
